table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

pre {
    width: 920px;
    height: 750px;
    background-color: #333;
    color: #ccc;
    font-family: "Courier New", monospace;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    white-space: pre-wrap;
    tab-size: 2;
  }
  
  code {
    font-family: "Courier New", monospace;
    font-size: 14px;
  }
  