@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1, 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 20px;
  background-color: rgb(214, 216, 219);
}

header a {
  color: inherit;
  text-decoration: none;
  color: rgb(0, 0, 0);
  height: bold;
  font-size: 18px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.603);
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
}

h3 {
  font-size: 22px;
  margin-bottom: 15px;  
  margin-top: 10px;
  color: black;
}

section * img {
  max-width: 100%;
  display: block;
}

.trash {
  padding-top: 15px;
}

.header {
  background-image: url(./Fundo-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: black;
}

.menu li {
  margin-left: 10px;  
}

.menu li a {
  display: block;
  padding: 10px;
}

.logo-inicial {
  margin: auto;
  width: 250px;
  margin-top: 25px;
  padding: 0px;
}

.logo_kenzie {
  display: flex;   
  flex-direction: column;
  width: 15000px;    
  margin-top: 0px;
}

main {
  animation: topdown 700ms 350ms backwards;
}

main a {
  color: inherit;
  text-decoration: none;
  color: rgb(248, 247, 247);
  height: bold;   
}

em {
  margin-top: 15px;  
}

.header-logo {
  width: 100px;
  height: 100px;
  position: initial;
  padding: 10px;
}

.grid1 .announcement p {
  font-size: 14px;
  font-weight: 200;
  text-align: justify;  
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 p {
  padding-top: 5px;
}

.grid1 div p {
  margin-bottom: 30px;  
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;  
}

.grid1 > article.announcement {
  grid-column: 1;
  grid-row: 2 / 5;
  border-top: 10px;
  display: block;  
}

article {
  text-align: justify;
  font-size: 14px;
  
}

@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > article.announcement {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}

.emphasis {
  text-align: justify;  
  font-size: 17px;
}

.sidebar > div {
  margin-bottom: 10px;
}

.browser {
  /*a propriedade inherit faz com que a tag <a> herde a cor do elemento pai <li>*/
  color: inherit;
  text-decoration: none;  
}

.sidebar div p {
  font-weight: bold;
  margin-top: 10px;
  font-size: 13px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.grid3-item:nth-child(1) {
  grid-row: 1 / 3;
}

.grid3-item {
  display: grid;
}

.grid3-item img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
}

.grid3-item p {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex > div {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .flex div p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
    text-align: justify;
  }
  
.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333d5;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
}

.form-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-header p {
  padding-top: 20px;
}

.form-header h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #333333d5;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.input-box input {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;

  box-shadow: 1px 1px 6px #0000001c;
  background-color: #eeeeee75;
  outline: 1px solid #0000009f;
}

.input-box input:hover {
  background-color: #74727275;
}

.input-box input:focus-visible {
  outline: 1px solid #070707;
}

.input-box label {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.input-box input::placeholder {
  color: #000000be;
}

.input-dev {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.div-group {
  display: flex;
  align-items: center;
}

.div-group input {
  margin-left: 1rem;
  font-size: 10px;
}

.div-group label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.senior-select {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
  flex-direction: row;
}

.input-senior {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.input-tech {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.tech-group {
  margin-left: 0.5rem;
  font-size: 10px;
}

.tech-group label {
  font-size: 0.69rem;
  font-weight: 900;
  color: #000000c0;
}

.mensage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

textarea {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  background-color: #eeeeee75;
  outline: 1px solid #0000009f;
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
}

textarea:focus-visible {
  outline: 1px solid #070707;
}

textarea::placeholder {
  color: #000000be;
}

footer {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  background-color: #333333d5;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.button button:hover {
  background-color: #797676d5;
}

.button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }
  .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-left: 5rm;
  }
  .tech-group .div-group {
    margin-top: 2rem;
  }
  .input-tech .input-dev {
    flex-direction: column;
  }
}

@keyframes topdown {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0px);
  }
}